<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>873929217707-qrdnmimmu7msskgoitmqv7l76el92na1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.873929217707-qrdnmimmu7msskgoitmqv7l76el92na1</string>
	<key>API_KEY</key>
	<string>AIzaSyCfC8Z2mRLneFDh7VKzzFuRDUNzakHg8PY</string>
	<key>GCM_SENDER_ID</key>
	<string>873929217707</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Bnomad.IAteIt</string>
	<key>PROJECT_ID</key>
	<string>iateit-45754</string>
	<key>STORAGE_BUCKET</key>
	<string>iateit-45754.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:873929217707:ios:dff62aa183c6dc52dfc9ee</string>
</dict>
</plist>